<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Add book</h2>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<label>Title</label>
			<input type="text" id="title" th:field="*{title}" />
			<label>Author</label>
			<input type="text" id="author" th:field="*{author}" />
			<label>Publication year</label>
			<input type="number" id="publicationYear" th:field="*{publicationYear}" />
			<label>Isbn</label>
			<input type="text" id="isbn" th:field="*{isbn}" />
			<label>Price</label>
			<input type="number" id="price" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="catlist">Category</label>
			<select id="catlist" th:field="*{category}" class="form-control">
				<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
			</select>
			<input type="submit" value="Save"/>
		</form>
	</div>
</body>
</html>