<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h2>Book list</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit"  value="sign out" />
	</form>
	<div class="col-md-4">
		<p>Welcome <b sec:authentication="name"></b>, your role is <b sec:authentication="principal.authorities"></b> </p>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Isbn</th>
			<th>Year</th>
			<th>Category</th>
		</tr>
		<tr th:each = "book : ${books}">
			<td th:text = "${book.author}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.publicationYear}"></td>
			<td th:text="${book.category.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger" >Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}" >Edit</a></td>
		</tr>
	</table>
	
	<a href="/addbook" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Add book</a>
	
</body>
</html>