<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add student</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h1>Sign up</h1>
  <form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
    <div class="col-md-4">
      <label>Username: <input type="text" th:field="*{username}" class="form-control"></label>
      <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
    </div>
    <div class="col-md-4">
      <label>Password: <input type="password" th:field="*{password}" class="form-control"></label>
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
    </div>
    <div class="col-md-4">
      <label>Repeat Password: <input type="password" th:field="*{passwordCheck}" class="form-control"></label>
      <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Error</p>
    </div>
    <input type="submit" value="Signup" class="btn btn-primary"/>
  </form>

</div>
</body>
</html>